---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../types";
import convertDate from "../utils/convertDate";

export type Props = {
  post: MarkdownInstance<Frontmatter>;
  isPostPage?: boolean;
};

const { isPostPage } = Astro.props;
const { frontmatter, Content } = Astro.props.post;
const { title, datetime, category, coverImage, slug, excerpt } = frontmatter;
const date = convertDate(datetime);
const postUrl = `/posts/${slug}`;
---

<article class:list={["post", "post-animation", { "post-full": isPostPage }]}>
  <header>
    {
      category && date ? (
        <div class="post-meta mb-3">
          <a href="/" class="post-category mr-3 md:mr-0">
            {category}
          </a>
          <time class="post-date" datetime={date} class="post-date">
            {date}
          </time>
        </div>
      ) : null
    }
    <h2 class="text-2xl md:text-[32px] font-bold text-gray-900 mb-8">
      <a href={postUrl}>{title}</a>
    </h2>
  </header>
  <div>
    {coverImage && <img class="rounded-md mb-4" src={coverImage} />}
  </div>

  <div class="post-content text-base md:text-lg mb-4">
    {isPostPage ? <Content /> : excerpt}
  </div>

  {
    !isPostPage ? (
      <footer class="text-base md:text-lg">
        <a class="text-indigo-500" href={postUrl}>
          Read more
        </a>
      </footer>
    ) : null
  }
</article>

<style>
  .post {
    @apply mb-8;
    @apply mt-20;
    @apply relative;
  }

  .post-animation {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  :global(.loading) .post-animation {
    transform: translateY(1rem);
    opacity: 0;
  }

  .post-date {
    @apply text-stone-500;
  }

  .post-category {
    @apply rounded-md;
    @apply uppercase;
    @apply text-white;
    @apply bg-[#4ad440];
    @apply inline-block;
    @apply px-1;
    @apply py-1;
    @apply font-bold;
    @apply text-sm;
  }

  .post-content :global(p) {
    margin-top: 1em;
  }

  @media (min-width: 701px) {
    .post {
      position: relative;
      padding-left: 180px;
    }

    .post-full {
      padding-left: 0;
    }

    .post-date {
      @apply absolute;
      @apply top-0;
      @apply left-0;
    }

    .post-full .post-date {
      @apply relative;
    }

    .post-full .post-category {
      @apply mr-3;
    }
  }

  .post:first-child {
    @apply mt-0;
  }
</style>
